html {
	background-color: #F1F1F1;
}

body {
	margin: 1em;
	font-size: 16px;
	font-family: serif;
}

h1 {
	color: #1E1E1E;
}

#header {
	font-size:12px;	
}

#searchField{
	margin-top: 8px;
  	width: 700px;
	background: none;
	border: gray;
	border-style: solid;
	border-width: 1px;
	color: black;
}
#searchField:focus {
    outline: none;
}
#searchButton{
	max-width: 75px;
	padding-left: 2px;
	padding-right: 2px;
}

select{
	background: none;
	border: gray;
	border-style: solid;
	border-width: 1px;
	color: black;
}
select:focus{
    outline: none;
}

#optionDiv {
	margin-top: 8px;
	margin-bottom: 20px;
}

.excerpt{
	font-size: 14px;
	color:#404040;
	width: 70%;
	padding-bottom: 1em;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

@media only screen and (max-width: 1000px) {
	#header {
		text-align:center;
		font-size:0.8em;	
	}
	body {
		margin: 10px;
		font-size: 0.9em;
	}
	#searchField{
  		width: calc(100% - 100px);
	}
	.excerpt{
		font-size: 0.85em;
		width: 100%
	}
	h1 {
		text-align: center;
	}
	#searchDiv, #optionDiv{
		margin-top: 8px;
		text-align:center;
	}
}
