body {
  width: 52%;
  margin: 0 auto;
  background-color: #f1f1f1;
  font-size: 16px;
  padding-top: 6rem;
  font-family: "Roboto", sans-serif;
}

#logo {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}

#subtitle {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 500;
}

#button-caontainer {
  position: relative;
}

.download-button {
  width: 50%;
  position: absolute;
  left: 25%;
  margin-top: 1rem;
}

#why {
  padding-top: 6rem;
}

li {
  padding: 0.4rem;
}

#screenshot {
  padding-bottom: 2rem;
  width: 40%;
  position: relative;
  left: 30%;
}

.about {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 1000px) {
  body {
    width: 90%;
  }

  #screenshot {
    padding-bottom: 2rem;
    width: 75%;
    position: relative;
    left: 12.5%;
  }
}
