html {
	background-color: #ffefdb;
}

body {
	margin: 1em;
	font-size: 16px;
	font-family: "serif"
}

.effet, .indication, .notice, label{
	font-size: 14px;
}

.substance {
	margin-bottom: 5px;
}
#substances {
	margin-top: 5px;
}
#buttons {
	margin-top: 5px;
}

h1 {
	color: #4f184e;
}


#results {
	margin-top: 10px;
}

#header {
	font-size:12px;	
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}


.autocomplete {
	/*the container must be positioned relative:*/
	position: relative;
	display: inline-block;
	width:auto;
	margin-left:3px;
	margin-right:3px;
}

.autocomplete-items {
	background-color:white;
	color:black;
	position: absolute;
	border-bottom: none;
	border-top: none;
	padding-left: 3px;
	z-index: 99;
	/*position the autocomplete items to be the same width as the container:*/
	top: 100%;
	left: 0;
	right: 0;
}
.autocomplete-items div {
/**/
}

.autocomplete-items div:hover {
	/*when hovering an item:*/
	background-color:gray;
}

.autocomplete-active {
	/*when navigating through the items using the arrow keys:*/
	background-color:gray;
}


@media only screen and (max-width: 1000px) {
	body {
		margin: 10px;
		font-size: 0.9em;
	}
	.effet, .indication {
		font-size: 0.85em;
	}

	#header {
		text-align:center;
		font-size:0.8em;	
	}
	h1 {
		text-align: center;
	}
	.autocomplete {
		/*the container must be positioned relative:*/
		position: relative;
		display: inline-block;
		width:auto;
	}
	
}
