html {
	background-color: #e6e9ff;
}

body {
	font-size: 0.8em;
	margin: 2em;
}

#propriete {
	color: #222222;
}

#query {
	width: 60%;
	height: 30px;
	font-size: 14px;
}
#button, #showall {
	height: 30px!important;
}

h1 {
	color: #BD452F;
}

#notice {
	padding-top: 3em;
}

a {
	color: black;
}
u {
	color: gray;
}
#afficher {
	border: none;
	background-color: inherit;
	cursor: pointer;
	display: inline-block;
	color: gray;
}

@media only screen and (max-width: 1000px) {
	body {
		margin: 0.8em;
	}
	h1 {
		color: #BD452F;
		font-size: 2em;
		text-align: center;
	}
	#query {
		height: 2em;
		width: 55%;
	}
	#button {
		height: 2em;
	}
	hr {
		margin: 5px;
	}
	#bar {
		text-align: center;
		padding-bottom: 1em;
	}
}
